*.a
*.so
*.o
*.d
oapCudaTests/dist/
oapMatrixCuda/dist/
oapShibataCuda/dist/
oapShibataMgr/dist/
oapDeviceTests/dist/
oapHostTests/dist/
dist
oap2dt3d/data/
oap2dt3dFuncTests/data/
oapDeviceTests/data/
oapArnoldiDeviceTests/data/
oapNeural/data/
*/build
build
oapAppUtilsFuncTests/data/
