/oglaParser/build/
/oglaCuda/build/
/dist/
*.so
*.a
*.o
oglap/liboglaMath.so
oglap/liboglaMatrixCpu.so
oglap/liboglaMatrixCuda.so
oglap/liboglaMatrix.so
oglap/liboglaServerUtils.so
oglap/liboglaShibataCpu.so
oglap/liboglaShibataCuda.so
oglap/liboglaUtils.so
pyWrapper/oai.cpython-32mu.so
ArnoldiPackage/dist/Debug/albert/libArnoldiPackage.so
dist/Debug/albert/lib/libArnoldiPackage.so
dist/Debug/albert/lib/liboglaCuda.so
dist/Debug/albert/lib/liboglaMath.so
dist/Debug/albert/lib/liboglaMatrixCpu.so
dist/Debug/albert/lib/liboglaMatrixCuda.so
dist/Debug/albert/lib/liboglaMatrix.so
dist/Debug/albert/lib/liboglaServerUtils.so
dist/Debug/albert/lib/liboglaShibataCpu.so
dist/Debug/albert/lib/liboglaShibataCuda.so
dist/Debug/albert/lib/liboglaUtils.so
oglaCuda/dist/Debug/albert/liboglaCuda.so
oglaMath/dist/Debug/albert/liboglaMath.so
oglaMatrixCpu/dist/Debug/albert/liboglaMatrixCpu.so
oglaMatrixCuda/dist/Debug/albert/liboglaMatrixCuda.so
oglaMatrix/dist/Debug/albert/liboglaMatrix.so
oglaServerUtils/dist/Debug/albert/liboglaServerUtils.so
oglaShibataCpu/dist/Debug/albert/liboglaShibataCpu.so
oglaShibataCuda/dist/Debug/albert/liboglaShibataCuda.so
oglaUtils/dist/Debug/albert/liboglaUtils.so
*/*/*/*/*/*/*so
*/*/*/*/*/*/*o
*.zip
*.gif
*.log
